{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <script src="{% static 'js/trixie.js' %}"></script>
    {% endif %}

    <form data-controller="trixie" data-reflex-root>
        <nav data-trixie-target="nav" hidden>
            <button data-action="trixie#toggle_edit_mode">
                {% if object.editing %}
                    Save
                {% else %}
                    Edit
                {% endif %}
            </button>
            <button data-action="trixie#show_metrics">Metrics</button>
            <button data-action="trixie#create_page">Create Page</button>
            <button data-action="trixie#copy_page">Copy Page</button>
            <button data-action="trixie#delete_page">Delete Page</button>
        </nav>

        {% if object.editing %}
            {{ form.content }}
        {% else %}
            <article>
                {{ object.content }}
            </article>
        {% endif %}
        <aside data-trixie-target="modal" hidden
            class="absolute bottom-50 rounded-lg w-1/2 py-10 px-2 ring-4"
        >
        </aside>
    </form>
{% endblock %}
