{% extends 'content.html.jinja' %}

{# {% set user = resolve_user() %} #}

{% set editing = is_edited_by(request.user) %}

{% set page = namespace() %}
{% set page.slug = object.slug %}
{% if editing %}
    {% set page.content %}
        <edit-head>
            {{ form.title }}
            {{ form.slug }}
        </edit-head>
        {{ form.content }}
    {% endset %}
{% else %}
    {% set page.content %}
        <article>
            {{ object.content | safe }}
        </article>
    {% endset %}
{% endif %}


{% block content %}
    Logged in as {{ request.user.email }}


    {% if request.user.is_authenticated %}
        <script src="{{ static('js/trixie.js') }}"></script>

        <form data-controller="trixie"
            data-slug="{{ page.slug }}"
        >
            <nav data-trixie-target="nav">
                {% if editing %}
                    <button type="button"
                        data-action="trixie#viewMode"
                        data-trixie-target="toggle">
                        View
                    </button>
                {% else %}
                    <button type="button"
                        data-action="trixie#editMode"
                        data-trixie-target="toggle">
                        Edit
                    </button>
                {% endif %}
                <button type="button"
                    data-action="trixie#showMetrics"
                        data-trixie-target="metrics">
                    Metrics
                </button>
                <button type="button"
                    data-action="trixie#createPage"
                        data-trixie-target="create">
                    Create Page
                </button>
                <button type="button"
                    data-action="trixie#copyPage"
                        data-trixie-target="copy">
                    Copy Page
                </button>
                <button type="button"
                    data-action="trixie#deletePage"
                        data-trixie-target="delete">
                    Delete Page
                </button>
            </nav>
            
            {{ page.content }}
            
            <aside data-trixie-target="modal" hidden
                class="absolute bottom-50 rounded-lg w-1/2 py-10 px-2 ring-4"
            >
                {{ trixie.modal if trixie is defined else '' }}
            </aside>
        </form>
    {% else %}
        {{ page.content }}
    {% endif %}
{% endblock %}
